GITHUB_WEBHOOK_SECRET=changeme
GITHUB_PAT=ghp_changeme
GITHUB_ORG=myorg
RUNNER_LABELS=self-hosted,lxc

PROXMOX_URL=https://localhost:8006
PROXMOX_TOKEN_ID=controller@pve!ctrl
PROXMOX_TOKEN_SECRET=changeme
PROXMOX_NODE=pve
PROXMOX_HOST=localhost

TEMPLATE_VMID=9000
RUNNER_VMID_RANGE_START=9100
RUNNER_VMID_RANGE_END=9199
MAX_CONCURRENT_RUNNERS=3
MAX_JOB_DURATION_HOURS=6

DB_PATH=/data/controller.sqlite
LOG_LEVEL=INFO
